<settings>

<!--category label="ACESSO DO CONTRIBUIDOR">
	<setting label="[COLOR white]Configurações de Acesso[/COLOR] [COLOR orangered](Contribuidor):[/COLOR]" type="lsep"/>
	<setting label="Usuário" id="username" type="text" default="vip"/>
	<setting label="Senha" id="password" type="text" default="1234" enable="!eq(-1,false)" option="hidden"/>
</category>
<category label="VIP">	
		<setting label="[COLOR white]Configurações da área[/COLOR] [COLOR orange](TOP VIP)[/COLOR]" type="lsep"/>	
	    <setting label="Usuário" id="1username" type="text" default="" enable="!eq(-1,false)"/>
	    <setting label="Senha" id="1password" type="text" default="" enable="!eq(-2,false)" option="hidden"/>
	    <setting label="Saida de Transmissão VIP" id="saida" type="enum" values="M3U8|TS" default="0" />
	    <setting label="Exibir Menu VIP" id="exibirvip" type="bool" default="false" />
</category-->
<category label="MSG">
	<setting label="[COLOR white]Configurações Gerais:[/COLOR]" type="lsep"/>
    <setting label="Exibir Mensagem de Boas Vindas" id="mensagem1" type="bool" default="false" />	
    <setting label="Exibir Mensagem de Status" id="mensagem2" type="bool" default="true" />		
	<setting label="Exibir Suporte Top (VIP)" id="suporte" type="bool" default="true" />
	<setting label="Exibir Favoritos" id="favoritos" type="bool" default="false" />
    <setting label="Entre aqui para limpar os favoritos" type="action" action="RunScript(plugin.video.KelTec.MP.matrix, limparFavoritos)"/>	
	<setting label="Executar Youtube" id="ytbmode" type="enum" values="Interno 1|Interno 2|Externo" default="1" />	
    <setting label="Use Miniaturas como Fanart" id="use_thumb" type="bool" default="false" />
</category>
<category label="30000">
        <setting id="actDelFavourites" type="action" label="30102" action="RunPlugin(plugin://plugin.video.KelTec.MP.matrix/default.py?mode=39&url=settings)" option="close" />	
</category>
<category label="Complementos">
	    <setting label="[COLOR dimgrey]Configurações de Complemento:[/COLOR]" type="lsep"/>
	    <setting label="Verificar Complementos" id="check_addon" type="bool" default="true" />
        <setting label="Baixar e Instalar Elementum" id="elementum" type="bool" default="true" />
	    <setting label="Baixar e Instalar Youtube" id="youtube" type="bool" default="false" />
</category>
<category label="Controle dos Pais">
		<setting label="[COLOR white]Controle dos Pais:[/COLOR]" type="lsep"/>
		<setting label="Exibir Menu Adultos" id="adult" type="bool" default="false" />
		<setting label="Tipo de Teclado (OK para trocar)" id="keyboard" type="enum" values="Númerico|Alfanúmerico" default="0" />
		<setting label="Entre aqui para alterar senha" type="action" action="RunScript(plugin.video.KelTec.MP.matrix, SetPassword)"/>
		<setting label="[COLOR dimgrey][B]Senha padrão 0069[/B][/COLOR]" type="bool"/>
</category>
<!--category label="MENU DE VISUALIZAÇAO">	 
		<setting label="SELECIONE PLAYER TORRENT:" type="lsep" />
		<setting label="___________________________________________________________________________" type="lsep" />
		<setting label="PLAYER TORRENT" id="torrent" type="enum" values="Elementum" default="0" />
		<setting id="local_roxplayer" type="file" source="files" label="localize o arquivo 'ROX Player.lnk'" default="" visible="eq(-1,Rox Player)"/>
		<setting label="___________________________________________________________________________" type="lsep" />
</category-->
</settings>
