<settings>
<category label="PLAYER">
	<setting label="Type of Player" id="player_type" type="enum" values="PROXY - HLSRETRY" default="2" />
	<setting label="Ask on playback?" id="ask" type="bool" default="true" />
</category>
<!--category label="IPTV">
	<setting label="URL" id="iptv" type="text" default=""/>
</category-->
</settings>
